<div class="h-screen rounded-lg p-5">
  <div class="flex justify-between mx-5">
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <div class="flex gap-3">
      <img class="cursor-pointer" src="/notifications.svg" alt="notification">
      <img class="cursor-pointer" src="/account-circle.svg" alt="notification">
    </div>
  </div>
  <div class="flex items-center mt-6">
    <div class="flex-1 border-t border-gray-400"></div>
  </div>

  <div class="max-w-3xl mx-auto">

    <div class="flex max-h-fit mt-5 justify-start items-center max-w-3xl mx-auto">
      <div>
        <div class="flex gap-2 items-center">
          <h1 class="text-3xl">Welcome to the platform </h1>
          <img src="/waving_hand.svg" alt="">
        </div>
        <p class="text-sm text-gray-500">Complete the actions below to setup your account</p>
      </div>
    </div>
  
    <div class="border border-gray-100 shadow-md m-10 rounded-lg max-w-3xl mx-auto">
      <div class="flex justify-between items-center px-5 h-20"> 
        <h1 class="text-lg font-semibold">Get Started</h1>
        <p class="text-md ">4 steps</p>
      </div>
    
      <div class="flex items-center">
        <div class="flex-1 border-t-4 border-blue-400"></div>
        <div class="flex-1 border-t-4 border-blue-400"></div>
        <div class="flex-1 border-t-4 border-gray-400"></div>
      </div>
    
      <div>
        <div class="flex justify-between items-center px-5 h-24 w-full overflow-hidden border border-slate-300/50">
          <div class="flex justify-start gap-3 items-center min-w-0"> 
            <img class="bg-red-500 h-10 shrink-0" src="/favorite.svg" alt="email">
            <div class="min-w-0">
              <h2 class="text-md truncate">Connect email to your account</h2>
              <p class="text-sm text-gray-500 truncate">Let platform automatically connect your inbox</p>
            </div>
          </div>
          <button class="px-5 h-fit bg-blue-500 text-sm text-white py-1 rounded-3xl hover:bg-blue-600 transition whitespace-nowrap shrink-0">Connect email</button>
        </div>
    
        <div class="flex justify-between items-center px-5 h-24 w-full overflow-hidden">
          <div class="flex justify-start gap-3 items-center min-w-0"> 
            <img class="bg-green-500 h-10 shrink-0" src="/favorite.svg" alt="email">
            <div class="min-w-0">
              <h2 class="text-md truncate">Connect email to your account</h2>
              <p class="text-sm text-gray-500 truncate">Let platform automatically connect your inbox</p>
            </div>
          </div>
          <button class="px-5 h-fit bg-blue-500 text-sm text-white py-1 rounded-3xl hover:bg-blue-600 transition whitespace-nowrap shrink-0">Connect email</button>
        </div>
    
        <div class="flex justify-between items-center px-5 h-24 w-full overflow-hidden">
          <div class="flex justify-start gap-3 items-center min-w-0"> 
            <img class="bg-blue-500 h-10 shrink-0" src="/favorite.svg" alt="email">
            <div class="min-w-0">
              <h2 class="text-md truncate">Connect email to your account</h2>
              <p class="text-sm text-gray-500 truncate">Let platform automatically connect your inbox</p>
            </div>
          </div>
          <button class="px-5 h-fit bg-blue-500 text-sm text-white py-1 rounded-3xl hover:bg-blue-600 transition whitespace-nowrap shrink-0">Connect email</button>
        </div>
    
        <div class="flex justify-between items-center px-5 h-24 w-full overflow-hidden">
          <div class="flex justify-start gap-3 items-center min-w-0"> 
            <img class="bg-indigo-500 h-10 shrink-0" src="/favorite.svg" alt="email">
            <div class="min-w-0">
              <h2 class="text-md truncate">Connect email to your account</h2>
              <p class="text-sm text-gray-500 truncate">Let platform automatically connect your inbox</p>
            </div>
          </div>
          <button class="px-5 h-fit bg-blue-500 text-sm text-white py-1 rounded-3xl hover:bg-blue-600 transition whitespace-nowrap shrink-0">Connect email</button>
        </div>
      </div>
    </div>
  </div>
  

</div>